body {
  background-color:rgb(100, 100, 100);
  margin: 0px;
  font-size: 100%;
}
h1 {
  color: rgb(200, 200, 200);
}

.btn-group .button {
  background-color: rgb(116, 173, 92);
  border: none;
  color: white;
  padding-top:10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  width: 180px;
}
.btn-group .button:hover {
  background-color: #3e8e41;
}
#blurb{
    margin: 0px;
    color: white;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 1.2px;
    line-height: 1.2;
    word-spacing: 4px;
    font-weight: normal;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}
#firstID {
    width: auto;
    padding: 0px;
    background-color:white;
    margin: auto;
    height: 550px;
}

#secondID {
    margin: 0 auto;
    width: 281px;
    padding: 170px;
}
#thirdID{
    height: 362px;
    background-color:rgb(116, 173, 92);
    padding: 20px;
}
#fourthID{
    margin: 0 auto;
    border: 0px;
    padding: 00px;
    width: 1000px;
}
#contact{
    color: white;
    font-size: 0.875em;
    letter-spacing: 1.2px;
    line-height: 1.5;
    margin-top: 165px;
}
