body {
  background-color:rgb(100, 100, 100);
}
h1 {
  color: rgb(200, 200, 200);
}
p {
  color: orange;
}
#firstID {
    width: auto;
    padding: 0px;
    background-color:white;
    margin: auto;
}

#secondID {
    margin: 0 auto;
    width: 669px;
}
#thirdID{
    height: 576px;
    background-color:rgb(105, 189, 69);
}
