body {
  background-color:rgb(100, 100, 100);
  margin: 0px;
  font-size: 100%;
}
h1 {
  color: rgb(200, 200, 200);
}
#blurb{
    margin: 0px;
    color: white;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 1.2px;
    line-height: 1.2;
    word-spacing: 4px;
    font-weight: normal;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}
#firstID {
    width: auto;
    padding: 0px;
    background-color:white;
    margin: auto;
}

#secondID {
    margin: 0 auto;
    width: 669px;
}
#thirdID{
    height: 332px;
    background-color:rgb(116, 173, 92);
    padding: 20px;
}
#fourthID{
    margin: 0 auto;
    border: 0px;
    padding: 00px;
    width: 1000px;
}
#contact{
    color: white;
    font-size: 0.875em;
    letter-spacing: 1.2px;
    line-height: 1.5;
    margin-top: 135px;
}
